/controlStatement/nbproject/private/
/controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit1/HW02/AreaTrapezoidShort/nbproject/private/
/assignments/unit1/HW02/AreaTrapezoidShort/build/
/assignments/unit1/HW02/AreaTrapezoidInt.java/nbproject/private/
/assignments/unit1/HW02/AreaTrapezoidInt/nbproject/private/
/assignments/unit1/HW02/AreaTrapezoidInt/build/
/assignments/unit1/HW02/AreaTrapezoidFloat/nbproject/private/
/assignments/unit1/HW02/AreaTrapezoidFloat/build/
/workshops/unit1/WS04/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS04/WS04-LogicalOperators/build/
/workshops/unit1/WS05/WS05lterations/nbproject/private/
/workshops/unit1/WS05/WS05lterations/build/