/controlStatement/nbproject/private/
/controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit1/HW02/AreaTrapezoidShort/nbproject/private/
/assignments/unit1/HW02/AreaTrapezoidShort/build/
/assignments/unit1/HW02/AreaTrapezoidInt.java/nbproject/private/
/assignments/unit1/HW02/AreaTrapezoidInt/nbproject/private/
/assignments/unit1/HW02/AreaTrapezoidInt/build/
/assignments/unit1/HW02/AreaTrapezoidFloat/nbproject/private/
/assignments/unit1/HW02/AreaTrapezoidFloat/build/
/workshops/unit1/WS04/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS04/WS04-LogicalOperators/build/
/workshops/unit1/WS05/WS05lterations/nbproject/private/
/workshops/unit1/WS05/WS05lterations/build/
/assignments/unit1/HW03lterations/HW03lterations/nbproject/private/
/assignments/unit1/HW03lterations/HW03lterations/build/
/workshops/unit1/WS07Menus/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/WS07Menus/build/
/assignments/unit1/HW04Menus/HW04Menus/nbproject/private/
/assignments/unit1/HW04Menus/HW04Menus/build/
/exams/exams 1/CordovaJuanaQ11/nbproject/private/
/exams/exams unit 1/ExamUnit1CordovaJuana/nbproject/private/
/exams/exams unit 1/ExamUnit1CordovaJuana/build/
/exams/exams unit 1/CordovaJuanaQ11/nbproject/private/
/exams/exams unit 1/CordovaJuanaMonserratQ11/nbproject/private/
/exams/exams unit 1/CordovaJuanaMonserratQ11/build/
/workshops/unit2/WS08debugging/WS08debugging/nbproject/private/
/workshops/unit2/WS08debugging/WS08debugging/build/
/assignments/unit2/HW08-FactorialNumber/JavaApplication19/nbproject/private/
/assignments/unit2/HW08-FactorialNumber/JavaApplication19/build/
/assignments/unit2/HW08-FactorialNumber/HW08-FactorialNumber/nbproject/private/
/assignments/unit2/HW08-FactorialNumber/HW08-FactorialNumber/build/
/assignments/unit2/HW08-FactorialNumber/JavaApplication21/nbproject/private/
/assignments/unit2/HW09-EmbeddedStructures/HW09-EmbeddedStructures/nbproject/private/
/assignments/unit2/HW09-EmbeddedStructures/HW09-EmbeddedStructures/build/
/workshops/unit2/WS010Functions/WS010Functions/nbproject/private/
/workshops/unit2/WS010Functions/WS010Functions/build/
/assignments/unit2/HW10-Functions/HW10Functions/nbproject/private/
/assignments/unit2/HW10-Functions/HW10Functions/build/
/workshops/unit2/WS11FunctionsAndRecurences/nbproject/private/
/workshops/unit2/WS11FunctionsAndRecurences/build/
/assignments/unit2/HW11Recursion/nbproject/private/
/assignments/unit2/HW11Recursion/build/
/assignments/unit2/HW11Verb/nbproject/private/
/assignments/unit2/HW11Verb/build/
/workshops/unit2/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/build/
/assignments/unit2/HW12Taxes/nbproject/private/
/assignments/unit2/HW12Taxes/build/
/workshops/unit2/WS13-Task/nbproject/private/
/workshops/unit2/WS13-Task/build/
/workshops/unit2/WS14candyStoreStock/nbproject/private/
/workshops/unit2/WS14candyStoreStock/build/
/assignments/unit2/HW14Arrays/nbproject/private/
/assignments/unit2/HW14Arrays/build/
/quiz/quiz 22-02-2021/nbproject/private/
/quiz/quiz 22-02-2021/build/
/workshops/unit2/El WS15-SolutionQuiz/nbproject/private/
/workshops/unit2/El WS15-SolutionQuiz/build/
/workshops/unit2/ WS16/nbproject/private/